*, *::before, *::after {
    box-sizing: border-box;
}

/* Custom proerties */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 400;
    --fw-bold: 700;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #FD7272;
    --gr-bgimg: linear-gradient(315deg, #000000 0%, #414141 74%);
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* general style */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}
/* buttons */

.btn {
    display: inline-block;
    padding: 0.5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-light);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    margin-top: 2rem;
}

.btn:hover {
    transform: scale(1.1);
}

/* typography */

h1, h2, h3, h4 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section-title {
    margin-bottom: .25em;
}

.section-title-intro {
    font-weight: var(--fw-reg);    
}


.section-title-intro strong {
    display: block;
}

.section-subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section-subtitle-intro, .section-subtitle-about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section-subtitle-work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}


/* header */
.logo {
    z-index: 101;
}

.logo h3 {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-reg);
    color: var(--clr-accent);
    font-size: 2rem;
}

.nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
    padding: 1em;
    position: fixed;
    width: 100%;
    z-index: 101;
}
.nav-list ul {
	list-style: none;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
    margin: 0;
    padding: 0;
    position: fixed;
    background: var(--clr-dark);
    background-image: var(--gr-bgimg);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}
.nav-list ul.active {
	transform: translateX(0);
}
.nav-list ul a {
    font-family: var(--ff-primary);
	font-size: var(--fs-h3);
	font-weight: var(--fw-bold);
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
.nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
.nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
.nav-list ul li:hover a {
	color: var(--clr-accent);
}
.hamburger {
	height: 60px;
	width: 60px;
	border: 3px solid var(--clr-accent);
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 101;
	cursor: pointer;
	transform: scale(.8);
}
.hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid var(--clr-accent);
	animation: hamburger_puls 1s ease infinite;
}
.hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: var(--clr-accent);
	z-index: -1;
}
.hamburger .bar::after,
.hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: var(--clr-accent);
	transition: .3s ease;
	transition-property: top, bottom;
}
.hamburger .bar::after {
	top: 8px;
}
.hamburger .bar::before {
	bottom: 8px;
}
.hamburger.active .bar::before {
	bottom: 0;
}
.hamburger.active .bar::after {
	top: 0;
}
/* Intro section */

.intro {
    position: relative;
    padding: 10rem 2rem 5rem;
}

.intro-img {
    box-shadow: var(--bs);
}

.section-subtitle-intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 2em;
        grid-template-areas: 
            "img title"    
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro-img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }
    .section-subtitle-intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/* my services section */

.my-services {
    background-color: var(--clr-dark);
    background-image: var(--gr-bgimg);
    background-size: cover;
    color: var(--clr-light);
    text-align: center;
}

.section-title-services {
    color: var(--clr-accent);
    position: relative;
}

/* .section-title-services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.5;
} */

.service {
    flex: 1 0 0px;
    margin-top: 2rem;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
    }
    .service + .service {
        margin-left: 2em;
    } 
}

/* about me section */

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me-img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 300px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;            ;
    }
    .section-title-about {
        grid-area: title;
    } 
    .section-subtitle-about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(300px + 4em);
    } 
    .about-me-img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

@media (max-width: 600px) {
    .logo h3 {
        font-size: 1.4rem;
    }
    .nav-bar {
        padding: 0.5rem;
    }
} 

/* my work section */

.my-work {
    background-color: var(--clr-dark);
    background-image: var(--gr-bgimg);
    color: var(--clr-light);
    text-align: center;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item {
    background-color: var(--clr-accent);
    overflow: hidden;
}

.portfolio-img {
    transition: 
        transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
        opacity 250ms linear;
}

.portfolio-item:focus {
    position: relative;
    z-index: 2;
}

.portfolio-img:hover, .portfolio-item:focus .portfolio-img  {
    transform: scale(1.2);
    opacity: .5;
}


/* contact Section */

.contact {
	flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

#contact .contact-item {
	width: 100%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 15px 0 #0000002c;
    transition: .3s ease box-shadow;
    margin-top: 2em;
}

#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.contact-item h3 {
    font-family: var(--ff-primary);
    font-weight: var(--fw-reg);
    margin: 1rem 0;
}

.contact-item h4 {
    font-family: var(--ff-primary);
    font-weight: var(--fw-reg);
    margin: 0.8rem 0;
}

@media (min-width: 800px) {
    .contact-items {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-item + .contact-item {
        margin-left: 2em;
    } 
}
/*End contact Section */


/* footer */

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;

}

.footer-link {
    font-weight: var(--fw-bold);
}

.footer-link:hover, .social-list-link:hover {
    opacity: .7;
}

.footer-link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.social-list-item {
    margin: 0 .5em;
}

.social-list-link {
    padding: .5em;
}

.copyrights {
    font-size: 0.6em;
}

/* back to top button */

#backtotop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    cursor: pointer;
    height: 60px;
    width: 60px;
    border: 3px solid var(--clr-accent);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transform: scale(.8);
    background: none;
}

#backtotop:focus {
    outline: none;
}

#backtotop i {
    color: var(--clr-accent);
}

#backtotop i:hover {
    opacity: .6;
}


/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
/* End Keyframes */

/* fancybox caption */

.fancybox-caption__body a {
    font-size: 1.2rem;
    font-family: var(--ff-primary);
    font-weight: var(--fw-reg);
}